body {
    margin: 0px;
}

/* wrapper */

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.menu__text {
    text-decoration: none;
}

/* header */

.header {
    position: relative;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 40px;
    align-content: center;
}

/* logo-header */

.logo-header {
    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
    bottom: 30px;
    width: 160px;
    height: 18px;
    color: #f89513;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.contacts__rev {
    position: relative;
    width: 170px;
    height: 38px;
    flex-wrap: wrap;
}

.contacts__time-text {
    display: flex;
}

.contacts__phone {
    display: flex;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.contacts__time-text {
    color: #f89513;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

/* header__menu */

/* иконки для каждого элемента меню */

/* телефон и время работы */

.menu__item {
    display: flex;
    color: #ffffff;
}

.menu__item:nth-child(1)::before {
    content: url(./img/main_icon.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: 15px;
}

.menu__item:nth-child(2)::before {
    content: url(./img/feed_icon.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: 15px;
}

.menu__item:nth-child(3)::before {
    content: url(./img/service_icon.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: 15px;
}


.contacts {
    position: relative;
    width: 170px;
    height: 38px;
    margin-top: -45px;
    margin-right: 21px;
    margin-left: 909px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.contacts__time-text {
    display: flex;
}

.contacts__phone {
    display: flex;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.contacts__time-text {
    color: #f89513;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.main-content {
    position: relative;
    display: flex;
}

aside {
    width: 275px;
    margin-left: 20px;
}

.menu {
    display: flex;
    height: 150px;
    width: 275px;
    justify-content: center;
    margin-top: 30px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.menu__text {
    text-decoration: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
}

.aside-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 275px;
}

.aside-text {
    position: relative;
    justify-content: center;
    width: 275px;
    height: 376px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    background-color: black;
    text-align: center;
}

.socialnetwork {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    min-width: 275px;
}

.socialnetwork {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.socialnetwork_text {
    margin-bottom: 10px;
}

.socialnetwork_link {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
}

.socialnetwork-link {
    display: inline-flex;
    align-items: center;
}

section {
    margin-left: 20px;
    width: 865px;
}

.breadcrumbs {
    position: relative;
    height: 15px;
    padding: 0px;
    margin-left: 20px;
}

.breadcrumbs__item {
    display: inline-flex;
    text-decoration: none;
    color: #f89513;
}

.breadcrumbs__link {
    text-decoration: none;
    color: #f89513;
}

.section-blog__img {
    position: relative;
    min-width: 160px;
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 50px;
}

.section-blog__news {
    display: flex;
    flex-wrap: wrap;
    
}

.section-blog__news--content {
    max-width: 645px;
    
}

.section-blog__news::after {
    content: url(./img/Rectangle_3.png);
}


.section-middle__h1 {
    position: relative;
    text-align: center;
    color: #ffffff;
    top: 66px;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 60px;
}

.section-middle__container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 305px;
    min-width: 740px;
    margin-top: 165px;
    margin-left: 210px;
    margin-right: 210px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.section-middle__text {
    text-align: center
}

.section-blog__h1 {
    width: 227px;
    height: 35px;
    position: relative;
    text-align: left;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}

.section-blog {
    display: flex;
    flex-direction: column;
}



.page-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    height: 25px;
    margin-bottom: 65px;
}

.page-pagination__display {
    margin-right: 18px;
}

.page-pagination__pages {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    width: 215px;
    list-style: none;
    margin-top: -15px;
}

.footer {
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 77px;
}

.footer__text {
    color: #ffffff;
}

.logo-footer {
    position: relative;
    text-align: center;
    top: 30px;
    left: 20px;
    bottom: 30px;
    width: 160px;
    height: 18px;
    color: #f89513;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;