body {
    margin: 0px;
}

/* wrapper */

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.menu__text {
    text-decoration: none;
}

.wrapper {
    width: 1100px;
}

/* header */

.header {
    position: relative;
    width: 1100px;
    height: 77px;
    background-color: black;
    margin-bottom: 80px;
}

/* logo-header */

.logo-header {
    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
    bottom: 30px;
    width: 160px;
    height: 18px;
    color: #f89513;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* header__menu */

.menu {
    margin-left: 380px;
    width: 340px;
}

.menu__link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.menu__list {
    display: flex;
    justify-content: space-around;
}

/* иконки для каждого элемента меню */

.menu__item:nth-child(1) {
    background: url(./img/main_icon.png) left center no-repeat;
}

.menu__item:nth-child(2) {
    background: url(./img/feed_icon.png) left center no-repeat;
}

.menu__item:nth-child(3) {
    background: url(./img/service_icon.png) left center no-repeat;
}

/* телефон и время работы */

.menu__item {
    display: flex;
    color: #ffffff;
}

.contacts {
    position: relative;
    width: 170px;
    height: 38px;
    margin-top: -45px;
    margin-right: 21px;
    margin-left: 909px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.contacts__time-text {
    display: flex;
}

.contacts__phone {
    display: flex;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.contacts__time-text {
    color: #f89513;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.main__img {
    position: relative;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 60px;
}

.section-middle {
    background-color: black;
    height: 570px;
    width: 1100px;
    margin-bottom: 70px;
}

.section-middle__h1 {
    position: relative;
    text-align: center;
    color: #ffffff;
    top: 66px;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 60px;
}

.section-middle__container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 305px;
    min-width: 740px;
    margin-top: 165px;
    margin-left: 210px;
    margin-right: 210px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.section-middle__img {
    background-color: #f89513;
}
.section-middle__specs {
    color: #ffffff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.section-middle__h2 {
    position: relative;
    line-height: 50px;
    letter-spacing: 3px;
}

.section-middle__text {
    text-align: center
}

.section-blog__h1 {
    position: relative;
    text-align: center;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 75px;
}

.section-blog__news {
    display: flex;
    max-width: 885px;
    margin-bottom: 65px;
}

.sidemenu {
    display: flex;
    flex-wrap: wrap;
    max-height: 550px;
    margin-left: 920px;
    margin-top: -500px;
}

.page-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    height: 25px;
    margin-bottom: 70px;
}

.page-pagination__pages {
    position: relative;
    justify-content: space-around;
    display: flex;
    width: 215px;
    list-style: none;
}

.footer {
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    height: 77px;
}

.footer__text{
 color: #ffffff;
}

.socialnetwork {
    position: relative;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 20px;
}
.socialnetwork-link {
    display: inline-flex;
    background-color: #f89513
}

.logo-footer {
    position: relative;
    text-align: center;
    top: 30px;
    left: 20px;
    bottom: 30px;
    width: 160px;
    height: 18px;
    color: #f89513;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
/*
.section-middle__h1 {
    position: absolute;
    top: 765px;
    left: 356px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1.47px;
}

/* section-middle-flower */

/*

.section-middle__img-flower {
    position: absolute;
    top: 885px;
    left: 265px;
}

.section-middle__h2__uniq {
    position: absolute;
    top: 976px;
    left: 220px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
}

.section-middle__text-1 {
    position: absolute;
    width: 195px;
    height: 152px;
    top: 1015px;
    left: 200px;
}

.section-middle__list-1 {
    position: absolute;
    width: 195px;
    height: 152px;
    top: 1045px;
    left: 180px;
}

.section-middle__img-star {
    position: absolute;
    top: 885px;
    left: 532px;
}

.section-middle__h2__prem {
    position: absolute;
    left: 483px;
    right: 486px;
    top: 976px;
    bottom: 1488px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
}

.section-middle__text-2 {
    position: absolute;
    width: 195px;
    height: 152px;
    top: 1015px;
    left: 482px;
}

.section-middle__list-2 {
    position: absolute;
    width: 195px;
    height: 152px;
    top: 1045px;
    left: 450px;
}

.section-middle__img-pallette {
    position: absolute;
    top: 885px;
    left: 836px;
}

.section-middle__h2__trener {
    position: absolute;
    left: 759px;
    right: 214px;
    top: 976px;
    bottom: 1488px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
}

.section-middle__text-3 {
    position: absolute;
    width: 195px;
    height: 152px;
    top: 1015px;
    left: 753px;
}

.section-middle__list-3 {
    position: absolute;
    width: 195px;
    height: 152px;
    top: 1045px;
    left: 720px;
}

.section-blog__h1 {
    position: absolute;
    top: 1338px;
    height: 35px;
    left: 285px;
    color: black;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.section-blog__img-1 {
    position: absolute;
    top: 1453px;
    left: 20px;
}

.section-blog__date-1 {
    position: absolute;
    top: 1453px;
    left: 200px;
}

.section-blog__h3-1 {
    position: absolute;
    top: 1475px;
    left: 200px;
}

.section-blog__text-1 {
    position: absolute;
    top: 1515px;
    left: 200px;
    width: 694px;
    height: 136px;
}

.section-blog__img-2 {
    position: absolute;
    top: 1675px;
    left: 20px;
}

.section-blog__date-2 {
    position: absolute;
    top: 1675px;
    left: 200px;
}

.section-blog__h3-2 {
    position: absolute;
    top: 1700px;
    left: 200px;
}

.section-blog__text-2 {
    position: absolute;
    top: 1745px;
    left: 200px;
    width: 694px;
    height: 136px;
}

.section-blog__img-3 {
    position: absolute;
    top: 1896px;
    left: 20px;
}

.section-blog__date-3 {
    position: absolute;
    top: 1896px;
    left: 200px;
}

.section-blog__h3-3 {
    position: absolute;
    top: 1900px;
    left: 200px;
}

.section-blog__text-3 {
    position: absolute;
    top: 1940px;
    left: 200px;
    width: 694px;
    height: 136px;
}

.sidemenu__h4 {
    position: absolute;
    width: 123px;
    height: 33px;
    top: 1453px;
    left: 920px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #656464;
    letter-spacing: 2px;
}

.sidemenu__link-img-1 {
    position: absolute;
    width: 160px;
    height: 121px;
    top: 1510px;
    left: 920px;
}

.sidemenu__link-img-2 {
    position: absolute;
    top: 1650px;
    left: 920px;
    width: 160px;
    height: 160px;
}

.sidemenu__link-img-3 {
    position: absolute;
    top: 1830px;
    left: 920px;
    width: 160px;
    height: 160px;
}

.page-pagination__display {
    position: absolute;
    top: 2140px;
    left: 380px;
}

.page-pagination__item {
    position: relative;
    display: inline-block;
    top: 845px;
    left: 503px;
    right: 592px;
}

.footer {
    position: absolute;
    top: 2224px;
    width: 1100px;
    height: 77px;
    background-color: #111111;
}

.logo__footer {
    position: absolute;
    text-align: center;
    left: 470px;
    bottom: 30px;
    width: 160px;
    height: 18px;
    color: #f89513;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer__text {
    width: 239px;
    height: 50px;
    position: absolute;
    color: #ffffff;
}

.footer__h5 {
    position: absolute;
    width: 174px;
    height: 13px;
    color: #ffffff;
    top: 2px;
    left: 906px;
}
.socialnetwork-link {
    position: relative;
    display: inline-block;
    background-color: white;
    left: 870px;
    top: 30px;
}


















/*
html, body {
    font-family: <!-- подключить шрифт --!>;
    margin: 0;
    -webkit-font-smootihg: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #131415;
    margin-bottom: 155px;
}

.header .container {
    position: relative;
    height: 77px;
    width: 1100px;
}

.header .logo {
    position: absolute;
    top: 31px;
    left: 19px;
    bottom: 28px;
    text-align: left;
    width: 160px;
    height: 18px;
    color: #f89513;
    font-family: "Gora Free";
    font-size: 18px;
    font-weight: 400;
    /*line-height: 54px; - мешает расположению??? 
    text-transform: uppercase;
    /* Text style for "Афродита" 
    letter-spacing: 1.8px;
}

.contacts__phone {
    position: absolute;
    top: 22px;
    right: 21px;
    bottom: 37px;
    text-align: right;
    width: 170px;
    height: 18px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700;
    /*line-height: 54px; 
    text-transform: uppercase;
    text-decoration: none
}

.contacts__time {
    position: absolute;
    top: 46px;
    right: 22px;
    bottom: 17px;
    text-align: right;
    /*width: 114px;
    height: 14px; - Ломает все расположение, почему???
    opacity: 0.7;
    color: #f89513;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    /*line-height: 54px;* - Ломает все расположение, почему???
    /*text-decoration: underline;
}

.menu{
    width: 341px;
}
.menu__item {
    
    vertical-align: middle;
    list-style-type: none;
    display: inline-block;
    width: 90px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link{
width: 64px;
height: 9px;
color: #ffffff;
font-size: 12px;
font-weight: 700;
line-height: 54px;
letter-spacing: 1.2px;
text-decoration: none;
}

не работает!!!  header .menu__item {
    list-style-type: none;
    display: inline-block;
}

footer {
    background: black;
    width: 1100px;
    height: 74px;
}

footer .logo {
    color: #f89513;
}

.socialnetwork-link-vk:before {
    content:"";
    width: 12px;
    height: 7px;
    background: url(img/vk.png);
    font-display: inline-block;
    vertical-align: middle;
    color: orange;
}

.main__img {
    width: 740px;
    height: 486px;
    margin: 155px 179px 181px 183px
}

button {
    position: relative;
}

.page-pagination__item {
    display: inline-block;
    text-align: center;
}

.page-pagination__display {
    display: inline-block;
    text-align:center
}