.contacts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.contacts__rev {
  position: relative;
  width: 170px;
  height: 38px;
  flex-wrap: wrap;
}

.contacts__phone {
  display: flex;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.contacts__time-text {
  color: #f89513;
  font-size: 14px;
  font-weight: 700;
}