.footer {
  display: flex;
  background-color: black;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 77px;
}

.footer__text {
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  align-content: center;
}