.footer {
  display: flex;
  background-color: black;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 77px;
}

.footer__text {
  color: #ffffff;
}

.foter__link-loftschool {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 700;
  font-size: 14px;
}

.foter__link-github {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}
