.header {
  position: relative;
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-bottom: 40px;
  align-content: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  align-content: center;
}