.main-content {
  display: flex;
  flex-wrap: wrap;
}

.section-blog__h1 {
  position: relative;
  text-align: left;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.section-middle__h1 {
  position: relative;
  text-align: center;
  color: #ffffff;
  top: 66px;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  margin-top: 65px;
  margin-bottom: 60px;
}

.section-middle__uniq {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
}

.section-middle__text {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 192px;
}

.section-blog__date {
  font-size: 14px;
font-weight: 300;
line-height: 21px;
  color: grey;
}

.section-blog__name {
  font-weight: 700;
line-height: 21px;
}

.section-blog__news {
  display: flex;
  max-width: 885px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.section-blog__news--last {
  margin-bottom: 60px;
}

.section-blog__news--content {
  width: 608px;
}

.section-blog__text {
  font-weight: 300;
  line-height: 30px;
  margin-top: 5px;
}

.section-blog__news::after {
  content: url(/img/Rectangle_3.png);
}

.section-blog__news--last::after {
  content: none;
}

.section-middle__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
}

.section-middle__list-item {
  list-style-type: disc;
}