.menu {
  display: flex;
  height: 150px;
  width: 275px;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

.menu__item {
  display: flex;
}

.menu__text:hover {
  color: #f89513;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.menu__link {
  text-decoration: none;
}

.menu__text {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  transition: 1s;
  display: flex;
  align-items: center;
}

.menu__text-active {
  color: #f89513;
}

.menu__item:nth-child(1) .menu__text:before {
  width: 19px;
  height: 14px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -51px -5px;
  display: block;
  margin-right: 15px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.menu__item:nth-child(1) .menu__text:hover:before {
  width: 19px;
  height: 14px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -51px -5px;
  filter: none;
  transition: 1s;
}

.menu__item:nth-child(2) .menu__text:before {
  width: 19px;
  height: 14px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -52px -29px;
  display: block;
  margin-right: 15px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.menu__item:nth-child(2) .menu__text:hover:before {
  width: 19px;
  height: 14px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -52px -29px;
  filter: none;
  transition: 1s;
}

.menu__item:nth-child(3) .menu__text:before {
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -21px -5px;
  display: block;
  margin-right: 15px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.menu__item:nth-child(3) .menu__text:hover:before {
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -21px -5px;
  filter: none;
  transition: 1s;
}

.menu__item-active:nth-child(1) .menu__text-active:before {
  width: 19px;
  height: 14px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -51px -5px;
  display: block;
  margin-right: 15px;
  transition: 1s;
  filter: none;
}

.menu__item-active:nth-child(2) .menu__text-active:before {
  width: 19px;
  height: 14px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -52px -29px;
  display: block;
  margin-right: 15px;
  transition: 1s;
  filter: none;
}

.menu__item-active:nth-child(3) .menu__text-active:before {
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../img/spritesheet.png);
  background-position: -21px -5px;
  display: block;
  margin-right: 15px;
  transition: 1s;
  filter: none;
}