
.page-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25px;
  margin-bottom: 65px;

}

.page-pagination__display {
  margin-right: 18px;

}
.page-pagination__pages {
  position: relative;
  display:inline-flex;
  justify-content: space-around;
  width: 215px;
  list-style: none;
  margin-top: -15px;
}
