.socialnetwork {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 280px;
  margin-left: 20px;
}

.socialnetwork__text {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.socialnetwork__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
}

.socialnetwork__list-link {
  display: inline-flex;
  align-items: center;
}

.socialnetwork__list-link-vk:hover {
  content: url(/img/vk-hover.png);
}

.socialnetwork__list-link-fb:hover {
  content: url(/img/fb-hover.png);
}

.socialnetwork__list-link-g:hover {
  content: url(/img/google-hover.png);
}

.socialnetwork__list-link-twitter:hover {
  content: url(/img/twitter-hover.png);
}

.socialnetwork__list-link-mail:hover {
  content: url(/img/mail-hover.png);
}