.socialnetwork {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 280px;
  margin-left: 20px;
}

.socialnetwork__text {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.socialnetwork__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
}

.socialnetwork__list-link {
  display: inline-flex;
  align-items: center;
}

.socialnetwork__list-link-vk {
  background-image: url(../../img/spritesheet.png);
  width: 12px;
  height: 7px;
  background-position: -26px -53px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.socialnetwork__list-link-vk:hover {
  filter: none;
  transition: 1s;
}

.socialnetwork__list-link-fb {
  background-image: url(../../img/spritesheet.png);
  width: 6px;
  height: 13px;
  background-position: -5px -5px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.socialnetwork__list-link-fb:hover {
  filter: none;
  transition: 1s;
}

.socialnetwork__list-link-g {
  background-image: url(../../img/spritesheet.png);
  width: 15px;
  height: 9px;
  background-position: -5px -33px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.socialnetwork__list-link-g:hover {
  filter: none;
  transition: 1s;
}

.socialnetwork__list-link-twitter {
  background-image: url(../../img/spritesheet.png);
  width: 11px;
  height: 9px;
  background-position: -5px -53px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.socialnetwork__list-link-twitter:hover {
  filter: none;
  transition: 1s;
}

.socialnetwork__list-link-mail {
  background-image: url(../../img/spritesheet.png);
  width: 12px;
  height: 9px;
  background-position: -30px -33px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
}

.socialnetwork__list-link-mail:hover {
  filter: none;
  transition: 1s;
}