
.socialnetwork {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  width: 280px;
  margin-left: 20px;
}

.socialnetwork_text {
  font-size: 14px;
font-weight: 700;
  margin-bottom: 10px;
}

.socialnetwork_link {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
}

.socialnetwork-link {
  display: inline-flex;
  align-items: center;
}

.socialnetwork-link-vk:hover{
  content: url(/img/vk-hover.png);
}

.socialnetwork-link-fb:hover{
  content: url(/img/fb-hover.png);
}

.socialnetwork-link-g:hover{
  content: url(/img/google-hover.png);
}
.socialnetwork-link-twitter:hover{
  content: url(/img/twitter-hover.png);
}
.socialnetwork-link-mail:hover{
  content: url(/img/mail-hover.png);
}